.dc-table-head {
    background: #fae5e5;
    font-weight: bold;
}

table.dc-data-table tbody tr.dc-table-group td.dc-table-label {
    background: #F8F8F8;
    font-weight: bold;
    padding: 0.25em 0 0.25em 0;
}

table.dc-data-table tbody tr.dc-table-row td.dc-table-column {
    padding: 0.25em 0 0.25em 1em;
}

.dc-table-column._1 {
    text-align: center;
}

.dc-table-column._2 {
    text-align: right;
}

line.tracking,
text.texttip {
    stroke-opacity: 0;
    fill-opacity: 0;
    fill: gray;
    font-size: 11px;
    stroke: gray;
    stroke-dasharray: 2 5;
    transition: .25s all;
}

svg:hover line.tracking {
    stroke-opacity: 1;
    stroke-width: 1px;
}

svg:hover text.texttip {
    fill-opacity: 1;
}

.dc-chart g.city {
    cursor: pointer;
}
.dc-chart g.city :hover {
    fill: #808080;
}
.dc-chart g.city path {
    stroke: #888;
}


.dc-chart g.annotation-subject path.subject {
    fill-opacity: 0.025;
}



.dc-chart .city-label {
    fill: #000;
    font-size: 1em;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 100%;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}
